.new-user {
    flex: 4;
    margin-left: 100px;
    margin-top: 20px;
}
.add-user-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input_antd {
    margin-right: 30px;
    width: 250px;
}

// .button {
//     height: 35px;
//     width: 150px;
//     margin-top: 10px;
// }
