.new-pass {
    flex: 4;
    margin-left: 100px;
    margin-top: 20px;
}

.add-pass-form {
    margin-top: 10px;
}

.add-pass-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.add-pass-item > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-pass-item > input {
    padding: 10px;
}

.add-pass-item > select {
    padding: 10px;
}

.button {
    margin: 10px 10px 10px 0px;
    width: 500px;
}
