.product {
    flex: 4;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}

.product-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-add-button {
    width: 80px;
    border: none;
    padding: 5px;
    margin-right: 20px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.product-top {
    // display: flex;
    flex: 1;
}

.product-top-left,
.product-top-right {
    flex: 1;
}

.product-top-right {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.product-info-top {
    display: flex;
    align-items: center;
}

.product-name {
    font-weight: 600;
}

.product-info-bottom {
    margin-top: 10px;
}

.product-info-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-info-key {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 7px;
}

.product-info-value {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 7px;
}

.product-bottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.product-form {
    display: flex;
    justify-content: space-between;
}

.product-form-left {
    display: flex;
    flex-direction: column;
}

.product-form-left > label {
    margin-bottom: 10px;
    color: gray;
}

.product-form-left > input {
    width: 550px;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.product-form-left > select {
    margin-bottom: 10px;
}

.product-upload-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.product-form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    padding-right: 180px;
}

.product-upload {
    display: flex;
    align-items: center;
}

.product-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.add-product-form {
    // padding-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lable-update {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 20px 20px 0;
}

.add-product-item {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button {
    margin: 10px 10px 10px 0px;
    width: 700px;
}

.select-item {
    border: 1px solid #cccccc;
    height: 46px;
    margin: 5px 5px 5px 0;
    width: 700px;
}
.input-feedback {
    font-size: 11px;
    margin-bottom: 15px;
    color: red;
    display: block;

    &::before {
        content: '* ';
        font-size: 13px;
    }
}

.img {
    position: relative;
}

.list-img {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item-img {
    margin: 10px 10px 10px 0;
    width: 150px;
    height: 150px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}

.input-image {
    width: 200px;
    height: 45px;
    background: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    &:hover {
        color: #000000;
        background: #ffffff;
        border-color: #000000;
    }
}
#images {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.btn-x {
    color: black;
    font-weight: 600;
    width: 25px;
    height: 25px;
    padding-left: 6px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 30px;

    border: 2px solid black;
    border-radius: 50%;
}
